body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.product-details {
    text-align: center;
    margin-bottom: 20px;
}

.product-details img {
    width: 100px;
    height: 100px;
}

.qr-code {
    text-align: center;
    margin-bottom: 20px;
}

#payButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
